body{
    background-color: #FCBA11 !important;
}

*{
    /* margin: 0;
    padding: 0;
    border: 0; */
    font-family:Arial, Helvetica, sans-serif;
}


.container-fluid{
    background-color: #FCBA11 !important ;
    
}

@media only screen and (min-device-width:320px) and (max-device-width:480px){

}

@media only screen and (min-device-width:481px) and (max-device-width:767px){
    
}